<!doctype html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../../layouts/header.ejs'); %>

        <title>Courses</title>
</head>

<body class="has-background-white">
    <%- include ('../../layouts/navbar.ejs'); %>

        <div class="columns my-3 px-3">
            <%- include ('../../layouts/menu.ejs'); %>
                <section class="is-medium column p-0 ">
                    <div class="container content ">
                        <div id="right-side">
                            <div class="mr-2" id="course-body">

                                <button class="button is-light is-small is-info"
                                    hx-get="/api/v1/departments/<%= departmentId%>/courses/new" hx-target="this"
                                    hx-swap="outerHTML">Create
                                    Course</button>


                                <table class="table is-narrow is-striped  container">

                                    <thead class="thead ">
                                        <th>Course Name</th>
                                        <th>Code</th>
                                        <th>Semester</th>
                                        <th>Year</th>

                                    </thead>
                                    <% for( let ci=0; ci < courses.length; ci++ ) { %>
                                        <tr>
                                            <td><a hx-get="<%= `/api/v1/departments/${departmentId}/courses/${courses[ci].id}`  %>"
                                                    hx-push-url="true" hx-target="table" hx-swap="outerHTML"
                                                    href="<%= `/api/v1/departments/${departmentId}/courses/${courses[ci].id}`  %>">
                                                    <%= courses[ci].name %>
                                                </a></td>
                                            <td>
                                                <%= courses[ci].code %>
                                            </td>
                                            <td>
                                                <%= courses[ci].semester %>
                                            </td>
                                            <td>
                                                <%= courses[ci].year %>
                                            </td>

                                        </tr>
                                        <% } %>
                                </table>
                            </div>
                        </div>
                    </div>



                </section>
        </div>
        <%- include('../../layouts/footer.ejs'); %>
</body>

</html>