<!doctype html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../layouts/header.ejs'); %>
        <title>Events</title>
</head>

<body>
    <%- include ('../layouts/navbar.ejs'); %>

        <div class="columns m-0 p-2" id="main-box">
            <%- include ('../layouts/menu.ejs', user?user:undefined); %>

                <section class="is-medium column ">
                    <div class="container">

                        <div class="mr-2" id="right-side">
                            <div class="field is-grouped">
                                <sl-button size="small" hx-get="/api/v1/events/new" hx-target="#right-side"
                                    hx-push-url="true">Create Event</sl-button>

                            </div>
                            <table class="table is-narrow is-striped  container">

                                <thead class="thead ">
                                    <th>Name</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                </thead>
                                <% for( let evi=0; evi < events.length; evi++ ) { %>
                                    <tr>

                                        <td>
                                            <a hx-get="<%= `/api/v1/events/${events[evi].id}?includeAdditional=true`  %>"
                                                hx-target="#right-side" hx-push-url="true" hx-swap="outerHTML"
                                                hx-select="#right-side"
                                                href="<%= `/api/v1/events/${events[evi].id}?includeAdditional=true`  %>">
                                                <%= events[evi].name %>
                                            </a>
                                        </td>
                                        <td>
                                            <sl-format-date date="<%=events[evi].startDate%>" month="long" day="numeric"
                                                year="numeric"></sl-format-date>
                                        </td>
                                        <td>
                                            <sl-format-date date="<%=events[evi].endDate%>" month="long" day="numeric"
                                                year="numeric"></sl-format-date>
                                        </td>
                                    </tr>
                                    <% } %>
                            </table>

                        </div>

                    </div>



                </section>
        </div>
        <%- include('../layouts/footer.ejs'); %>
</body>

</html>