<!doctype html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../layouts/header.ejs'); %>
        <title>Events</title>
</head>

<body class="has-background-white">

    <div class="columns ">
        <%- include ('../layouts/menu.ejs', user?user:undefined); %>

            <section class="is-medium column p-0 ">
                <div class="container content my-3">
                    <%- include ('../layouts/navbar.ejs'); %>

                        <div class="mr-2">
                            <div class="field is-grouped">
                                <button class="control button is-success is-light is-small">Create Event +</button>

                            </div>
                            <table class="table is-narrow is-striped  container">

                                <thead class="thead ">
                                    <th>Name</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                </thead>
                                <% for( let evi=0; evi < events.length; evi++ ) { %>
                                    <tr>

                                        <td><a href="<%= `/api/v1/events/${events[evi].id}?includeAdditional=true`  %>">
                                                <%= events[evi].name %>
                                            </a></td>
                                        <td>
                                            <%= events[evi].startDate %>
                                        </td>
                                        <td>
                                            <%= events[evi].endDate %>
                                        </td>
                                    </tr>
                                    <% } %>
                            </table>

                        </div>



                </div>

    </div>

    </section>
    </div>
    <%- include('../layouts/footer.ejs'); %>
</body>

</html>