<div class="container content">
    <div class="m-0 p-5 has-background-primary-light">
        <div class="level">
            <div class="level-left is-size-3 has-text-weight-medium">
                <%= project.name %>
            </div>

        </div>
    </div>

    <div class="p-5 has-background-white">
        <div class="block">
            <div class="has-text-weight-bold ">
                <span>Seats available:</span>
                <span class="is-size-5">
                    <span class=>
                        <%= project.teamSize -project._count.projectAssociations %>
                    </span>
                    /
                    <span>
                        <%=project.teamSize%>
                    </span>
                </span>
            </div>
            <br />

            <div class="level">
                <%= project.description %>
            </div>

            <br />
            <div class="level-left">
                <div>
                    <p class="subtitle is-7">
                        Last Updated: <%= project.updatedAt %>
                    </p>
                    <p class="subtitle is-7">
                        Started: <%= project.createdAt %>
                    </p>
                </div>
            </div>
            <!-- <span>
                    <%# project.publicAttachments?.keys.forEach(link => { %> 
                            <a href="<%# project.publicAttachments[link] %>"><%# project.publicAttachments[link] %></a>
                    <%# }) %>
                    
                </span>
                <span>
                    <%# project.privateAttachments?.keys.forEach(link => { %> 
                            <a href="<%# project.privateAttachments[link] %>"><%# project.privateAttachments[link] %></a>
                    <%# }) %>
            
                </span> -->
        </div>
        <div class="grid">
            <div class="cell">

                <% if (project.event) { %>
                    <a class="is-size-4 has-text-weight-bold"
                        hx-get="<%= `/api/v1/events/${project.event.id}?includeAdditional=true`%>" hx-swap="innerHTML"
                        hx-target="#projects-body" hx-push-url="true" hx-select="#event-body"
                        href="<%= `/api/v1/events/${project.event.id}?includeAdditional=true`%>">
                        <%= project.event.name %>
                    </a>

                    <div>
                        From: <%= project.event.startDate %>
                    </div>
                    <div>To: <%= project.event.endDate %>
                    </div>

                    <% } else { %>
                        <span class="is-size-7 is-italic is-capitalized">Not in any Event</span>
                        <% } %>

                            <div class="is-size-7 is-italic has-text-weight-light">Event</div>
            </div>
            <div class="cell">
                <% if (project.course) { %>
                    <div>

                        <a class="is-size-4 has-text-weight-bold"
                            href="<%= `/api/v1/departments/courses/${project.course.id}`%>">
                            <%= project.course.name %>
                        </a>
                    </div>

                    <span class="is-size-7 is-italic is-capitalized">
                        <%= project.course.semester %>
                            <%= project.course.year %>
                    </span>
                    <% } else { %>
                        <span class="is-size-7 is-italic is-capitalized">Not in any Course</span>
                        <% } %>

                            <div class="is-size-7 is-italic has-text-weight-light">Course</div>
            </div>
        </div>


    </div>
    <div class="p-4" style="border-top: 1px solid #151515;">

        <div class="field is-grouped ">
            <button class="control button is-info is-light is-small">Edit</button>
            <button class="control button is-danger is-light is-small">Delete </button>
        </div>
    </div>
</div>