<!doctype html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../layouts/header.ejs'); %>

        <title>Departments</title>
</head>

<body class="has-background-white">

    <%- include ('../layouts/navbar.ejs'); %>
        <div class="columns ">
            <%- include ('../layouts/menu.ejs', user?user:undefined); %>

                <section class="is-medium column p-0 ">
                    <div class="container content my-3">

                        <div class="mr-2" id="right-side">
                            <div>
                                <%# `${JSON.stringify(profile)}` %>
                                    <div hx-get="/api/v1/users/profile/<%=profile.id%>" hx-select="#profile-group"
                                        hx-trigger="load">


                                        <hr>
                                        <p>My Projects</p>
                                        <p>Last convo with PM</p>

                                    </div>
                            </div>
                        </div>
                </section>
        </div>
        <%- include('../layouts/footer.ejs'); %>

</body>

</html>