<!doctype html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../layouts/header.ejs'); %>
        <title>Projects-All</title>
</head>

<body class="has-bakground-white">

    <div class="columns ">
        <%- include ('../layouts/menu.ejs'); %>
            <section class="is-medium column p-0 ">
                <div class="container content my-3">
                    <%- include ('../layouts/navbar.ejs'); %>

                        <div class="mr-2">
                            <div class="p-3 section">


                                <table class="table is-narrow is-striped ">

                                    <thead class="thead ">
                                        <th class="container">Name</th>
                                        <th class="container">Action</th>
                                    </thead>
                                    <% for( let ci=0; ci < scoreCats.length; ci++ ) { %>
                                        <tr>
                                            <td class="has-text-weight-bold is-size-5">
                                                <%= scoreCats[ci].name %>
                                            </td>
                                            <td class="field is-grouped">
                                                <button class="is-size-6 control button is-small is-primary is-light"
                                                    href="#">Add</button>
                                                <button class="is-size-6 control button is-small is-secondary is-light"
                                                    href="#">Edit</button>
                                                <button class="is-size-6 control button is-small is-danger is-light"
                                                    href="#">Delete</button>
                                            </td>

                                        </tr>
                                        <% } %>
                                </table>
                            </div>
                        </div>



                </div>

    </div>

    </section>
    </div>
    <%- include('../layouts/footer.ejs'); %>
</body>

</html>