<!doctype html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../layouts/header.ejs'); %>
        <title>Projects-All</title>
</head>

<body class="has-background-white">

    <%- include ('../layouts/navbar.ejs'); %>
        <div class="columns ">
            <%- include ('../layouts/menu.ejs', user?user:undefined); %>

                <section class="is-medium column p-0 ">
                    <div class="container content my-3">

                        <div class="mr-2" id="right-side">
                            <button class="button is-primary is-light" hx-get="/api/v1/score-category/new"
                                hx-target="this" hx-swap="outerHTML">
                                Create category +
                            </button>
                            <div class="p-3 section ">


                                <table class="table is-narrow is-striped">

                                    <thead class="thead ">
                                        <th class="">Name</th>
                                        <th class="">Action</th>
                                    </thead>
                                    <tbody id="score-categories-table">
                                        <% for( let ci=0; ci < scoreCats.length; ci++ ) { %>
                                            <tr>
                                                <td class="is-size-6">
                                                    <%= scoreCats[ci].name %>
                                                </td>
                                                <td class="buttons are-small">

                                                    <button class="button is-secondary is-light"
                                                        hx-get="/api/v1/score-category/<%=scoreCats[ci].id%>/edit"
                                                        hx-target="this" hx-swap="outerHTML">Edit</button>
                                                    <button hx-delete="/api/v1/score-category/<%= scoreCats[ci].id %>"
                                                        hx-swap="delete"
                                                        hx-confirm="Delete category: <%= scoreCats[ci].name %> ?"
                                                        class="button is-danger is-light">Delete</button>
                                                </td>

                                            </tr>
                                            <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>



                    </div>

        </div>

        </section>
        </div>
        <%- include('../layouts/footer.ejs'); %>
</body>

</html>