<div class="container content m-0 p-2 has-background-white">
    <div class="content" id="department-body">
        <p class="title is-4 has-text-weight-bold">
            <%= department.name %>
        </p>
        <div class="">
            <button class="button is-light is-small is-info"
                hx-get="/api/v1/departments/<%= department.id%>/courses/new" hx-target="this" hx-swap="outerHTML">Create
                Course</button>
        </div>
        <table>
            <th>Courses</th>
            <% for( let ci=0; ci < department.courses.length; ci ++ ) { %>
                <tr>
                    <td><a hx-get="<%= `/api/v1/departments/${department.id}/courses/${department.courses[ci].id}`%>"
                            hx-push-url="true" hx-target="#department-body" hx-swap="outerHTML"
                            href="<%= `/api/v1/departments/${department.id}/courses/${department.courses[ci].id}`%>">
                            <%= department.courses[ci].name %>
                        </a>
                    </td>
                </tr>

                <% } %>
        </table>

        <div class="buttons are-small">
            <button class="button is-info is-light" hx-get="/api/v1/departments/<%= department.id%>/edit"
                hx-target="#right-side" hx-swap="outerHTML">Edit</button>
            <button class="button is-danger is-light " hx-delete="/api/v1/departments/<%= department.id%>"
                hx-confirm="Deleting department <%= department.name%>. Are you sure?"
                hx-replace-url="/api/v1/departments">Delete </button>
        </div>
    </div>
</div>