<!doctype html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../layouts/header.ejs'); %>

        <title>Departments</title>
</head>

<body class="has-background-white">

    <%- include ('../layouts/navbar.ejs'); %>
        <div class="columns m-0">
            <%- include ('../layouts/menu.ejs', user?user:undefined); %>

                <section class="is-medium column ">
                    <div class="container">

                        <div class="mr-2" id="right-side">

                            <sl-button size="small" hx-get="/api/v1/departments/new" hx-target="this"
                                hx-swap="outerHTML">Create Department</sl-button>


                            <table class="mt-2 table is-narrow is-striped  container">

                                <thead class="thead ">
                                    <th>Name</th>
                                    <th>Courses</th>

                                </thead>
                                <% for( let di=0; di < departments.length; di++ ) { %>
                                    <tr>

                                        <td>
                                            <a hx-get="<%= `/api/v1/departments/${departments[di].id}`  %>"
                                                hx-push-url="true" hx-target="#right-side"
                                                href="<%= `/api/v1/departments/${departments[di].id}`  %>">
                                                <%= departments[di].name %>
                                            </a>
                                        </td>
                                        <td>
                                            <button class="button is-small is-info is-light">
                                                <a hx-get="<%= `/api/v1/departments/${departments[di].id}/courses/`%>"
                                                    hx-push-url="true" hx-target="#right-side" hx-select="#course-body"
                                                    href="<%= `/api/v1/departments/${departments[di].id}/courses/`%>">View
                                                    Courses
                                                </a>
                                            </button>
                                        </td>
                                    </tr>
                                    <% } %>
                            </table>
                        </div>
                    </div>

                </section>
        </div>
        <%- include('../layouts/footer.ejs'); %>
</body>

</html>