<!doctype html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../partials/layouts/header.ejs'); %>
        <title>Projects-All</title>
</head>

<body class="has-background-white">

    <div class="columns ">
        <%- include ('../partials/layouts/menu.ejs'); %>
            <section class="is-medium column p-0 ">
                <div class="container content my-3">
                    <%- include ('../partials/layouts/navbar.ejs'); %>

                        <div class="mr-2">

                            <div class="p-2">
                                <button class="control button is-success is-light is-small">Create Project +</button>
                                <div class="grid is-col-min-14 is-gap-1">

                                    <% for( let pi=0; pi < projects.length; pi ++ ) { %>
                                        <div class=" cell p-4 has-background-white">
                                            <span class="flex">
                                                <div class="cell">
                                                    <a class="title is-3 has-text-primary"
                                                        href="<%= `/api/v1/projects/${projects[pi].id}`%>">
                                                        <%= projects[pi].name %>
                                                    </a>
                                                </div>
                                                <div class="cell mt-2 ">
                                                    <span class="subtitle has-text-primary-dark is-5">Seats available:
                                                        <%= projects[pi].teamSize -
                                                            projects[pi]._count.projectAssociations %>/<%=
                                                                projects[pi].teamSize%>
                                                    </span>
                                                </div>
                                                <div class="mt-3 cell content"
                                                    style="max-height: 100px; overflow: hidden;">
                                                    <%= projects[pi].description %>
                                                </div>
                                                <br />
                                                <button class="cell button is-info is-light is-small"><a
                                                        href="<%= `/api/v1/projects/${projects[pi].id}`%>">Read
                                                        More</a></button>
                                                <button class="cell button is-warning is-small"><a
                                                        href="<%= `/api/v1/projects/${projects[pi].id}`%>">Enroll</a></button>
                                            </span>
                                        </div>
                                        <% } %>
                                </div>
                            </div>
                            <div class="pagination m-0 p-2" role="navigation" aria-label="pagination">
                                <a class="pagination-previous is-shadowless is-disabled my-0"
                                    title="This is the first page">Previous</a>
                                <a href="#" class="pagination-next my-0 is-shadowless">Next page</a>
                                <ul class="pagination-list is-shadowless">
                                    <li>
                                        <button class="pagination-link is-current is-shadowless button is-info is-light"
                                            aria-label="Page 1" aria-current="page">1</button>
                                    </li>
                                    <li>
                                        <button class="pagination-link is-shadowless button is-info is-light"
                                            aria-label="Goto page 2">2</button>
                                    </li>
                                    <li>
                                        <button class="pagination-link is-shadowless button is-info is-light"
                                            aria-label="Goto page 3">3</button>
                                    </li>
                                </ul>
                            </div>
                        </div>

                </div>

            </section>
    </div>

    <%- include('../partials/layouts/footer.ejs'); %>
</body>

</html>