<!doctype html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../layouts/header.ejs'); %>
        <title>Users</title>
</head>

<body class="has-bakground-white">

    <div class="columns ">
        <%- include ('../layouts/menu.ejs'); %>
            <section class="is-medium column p-0 ">
                <div class="container content my-3">
                    <%- include ('../layouts/navbar.ejs'); %>
                        <div class="mr-2">

                            <div class="p-4 has-background-white">
                                <div class="field is-grouped"></div>
                                <button class="control button is-success is-light is-small">Add Users +</button>
                                <button class="control button is-success is-light is-small">Create Profile +</button>

                            </div>
                            <table class="table is-narrow is-striped  container">
                                <thead class="thead ">
                                    <tr>
                                        <th>ID</th>
                                        <th>Email</th>
                                        <th>One-Time Token</th>
                                        <th>View</th>
                                    </tr>
                                </thead>
                                <% for( let ui=0; ui < users.length; ui ++ ) { %>
                                    <tr>
                                        <td>
                                            <%= users[ui].id %>
                                        </td>
                                        <td>
                                            <%= users[ui].email %>
                                        </td>
                                        <td><button class="button is-small is-primary is-outlined">Regenerate</button>
                                        </td>
                                        <% if (users[ui].profiles.length==0) { %>
                                            <td class="dropdown">
                                                <div class="dropdown-trigger">
                                                    <button class="button is-small is-shadowless " aria-haspopup="true"
                                                        aria-controls="dropdown-menu" disabled>
                                                        <span title="No Profiles for this user">View Profile</span>
                                                        <span class="icon is-small">
                                                            <i class="fas fa-angle-down" aria-hidden="false"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                            </td>


                                            <% } else { %>

                                                <!-- <td class="dropdown is-active"> -->
                                                <td class="">
                                                    <div x-data="{
                                                        open: false,
                                                        toggle() {
                                                            if (this.open) {
                                                                return this.close()
                                                            }
                                             
                                                            this.$refs.button.focus()
                                             
                                                            this.open = true
                                                        },
                                                        close() {
                                                            if (! this.open) return
                                             
                                                            this.open = false
                                             
                                                        }
                                                    }" x-on:keydown.escape.prevent.stop="close()"
                                                        x-on:focusin.window="! $refs.panel.contains($event.target) && close()"
                                                        class="">
                                                        <button x-ref="button" x-on:click="toggle()"
                                                            :aria-expanded="open" type="button"
                                                            class="button is-info is-light is-small is-shadowless "
                                                            aria-haspopup="true">
                                                            <span>View Profile</span>
                                                            <span class="icon is-small">
                                                                <i class="fas fa-angle-down" aria-hidden="false"></i>
                                                            </span>
                                                        </button>
                                                        <div x-ref="panel" x-show="open" x-transition.origin.top.left
                                                            x-on:click.outside="close()" tyle="display: none;" class=""
                                                            id="" role="menu">
                                                            <div class=" is-shadowless "
                                                                style="outline: 1px solid #d0d7de;">
                                                                <% for( let pid=0; pid < users[ui].profiles.length;
                                                                    pid++ ) { %>
                                                                    <a class="py-3 is-radiusless is-size-7 is-centered"
                                                                        href="<%= `/api/v1/users/profile/${users[ui].profiles[pid].id}`%>">
                                                                        <%= users[ui].profiles[pid].role %>
                                                                    </a>
                                                                    <% } %>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </td>
                                                <% } %>
                                    </tr>
                                    <% } %>
                            </table>
                        </div>

                </div>

    </div>

    </section>
    </div>
    <%- include('../layouts/footer.ejs'); %>
</body>

</html>