<!doctype html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../layouts/header.ejs'); %>
        <link rel="stylesheet" href="/style.css">
        <title>Users</title>
</head>

<body class="has-background-white ">

    <%- include ('../layouts/navbar.ejs'); %>
        <div class="columns my-3 px-3">
            <%- include ('../layouts/menu.ejs', user?user:undefined); %>

                <section class="is-medium column p-0 ">
                    <div class="container ">
                        <div class="mr-2" id="right-side">

                            <div class="p-4 has-background-white">
                                <div class="field is-grouped"></div>
                                <button class="control button is-success is-light is-small">Manage Users</button>


                            </div>
                            <table class="table is-narrow is-striped  container">
                                <thead class="thead ">
                                    <tr>
                                        <th>ID</th>
                                        <th>Email</th>
                                        <th>One-Time Token</th>
                                        <th>View</th>
                                    </tr>
                                </thead>
                                <% for( let ui=0; ui < users.length; ui ++ ) { %>
                                    <tr>
                                        <td>
                                            <%= users[ui].id %>
                                        </td>
                                        <td>
                                            <%= users[ui].email %>
                                        </td>
                                        <td><button class="button is-small is-primary is-outlined">Regenerate</button>
                                        </td>
                                        <% if (users[ui].profiles.length==0) { %>
                                            <td class="dropdown">
                                                <div class="dropdown-trigger">
                                                    <button class="button is-small is-shadowless " aria-haspopup="true"
                                                        aria-controls="dropdown-menu" disabled>
                                                        <span title="No Profiles for this user">View Profile</span>
                                                        <span class="icon is-small">
                                                            <i class="fas fa-angle-down" aria-hidden="false"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                            </td>


                                            <% } else { %>

                                                <td class="dropdown ">
                                                    <div class="dropdown-trigger">
                                                        <button class="button is-info is-light is-small is-shadowless "
                                                            aria-haspopup="true" aria-controls="dropdown-menu">
                                                            <span>View Profile</span>
                                                            <span class="icon is-small">
                                                                <i class="fas fa-angle-down" aria-hidden="false"></i>
                                                            </span>
                                                        </button>

                                                    </div>
                                                    <div class="dropdown-menu " id="dropdown-menu" role="menu">
                                                        <div class="dropdown-content is-shadowless py-1"
                                                            style="outline: 1px solid #d0d7de;">
                                                            <% for( let pid=0; pid < users[ui].profiles.length; pid++ )
                                                                { %>
                                                                <a class="dropdown-item px-3 py-0 is-radiusless is-size-7 is-centered"
                                                                    hx-target="#right-side"
                                                                    hx-get="<%= `/api/v1/users/profile/${users[ui].profiles[pid].id}`%>"
                                                                    hx-swap="outerHTML" hx-push-url="true"
                                                                    href="<%= `/api/v1/users/profile/${users[ui].profiles[pid].id}`%>">
                                                                    <%= users[ui].profiles[pid].role %>
                                                                </a>
                                                                <% } %>
                                                        </div>
                                                    </div>
                                                </td>
                                                <% } %>
                                    </tr>
                                    <% } %>
                            </table>
                        </div>

                    </div>


                </section>
        </div>
        <%- include('../layouts/footer.ejs'); %>
</body>

</html>