<!doctype html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../layouts/header.ejs'); %>
        <title>Users</title>
</head>

<body class="has-background-white ">

    <div>
        <%- include ('../layouts/navbar.ejs'); %>
    </div>
    <div id="outer-box">
        <div class="columns m-0" id="main-box">
            <%- include ('../layouts/menu.ejs', user?user:undefined); %>

                <section class="is-medium column ">
                    <div class="container ">
                        <div class="mr-2" id="right-side">

                            <div class="level is-mobile mb-2">
                                <sl-button size="small" class="level-left" hx-get="/api/v1/users/new"
                                    hx-target="#right-side" hx-push-url="true">Add Users</sl-button>
                                <sl-button-group class="level-right">
                                    <sl-button size="small"
                                        hx-get="/api/v1/users?page=<%=curPage%>&sort=email&order=asc" hx-target="body"
                                        hx-push-url="true">A-Z</sl-button>
                                    <sl-button size="small"
                                        hx-get="/api/v1/users?page=<%=curPage%>&sort=email&order=desc" hx-target="body"
                                        hx-push-url="true">Z-A</sl-button>
                                    <sl-button size="small"
                                        hx-get="/api/v1/users?page=<%=curPage%>&sort=createdAt&order=desc"
                                        hx-target="body" hx-push-url="true">Newest</sl-button>
                                    <sl-button size="small"
                                        hx-get="/api/v1/users?page=<%=curPage%>&sort=createdAt&order=asc"
                                        hx-target="body" hx-push-url="true">Oldest</sl-button>
                                </sl-button-group>
                            </div>

                            <table class="table is-narrow is-striped round-box container">
                                <thead class="thead ">
                                    <tr>
                                        <th>ID</th>
                                        <th>Email</th>
                                        <th>Token</th>
                                        <th>View</th>
                                    </tr>
                                </thead>
                                <% for( let ui=0; ui < users.length; ui ++ ) { %>
                                    <tr>
                                        <td class="is-align-content-center ">
                                            <%= users[ui].id %>
                                        </td>
                                        <td class="is-align-content-center ">
                                            <%= users[ui].email %>
                                        </td>
                                        <td class="is-align-content-center "><sl-button size="small"><sl-icon
                                                    name="arrow-clockwise" label="Regenerate"></sl-icon></sl-button>
                                        </td>
                                        <% if (users[ui].profiles.length==0) { %>
                                            <td class="is-align-content-center ">
                                                <div>
                                                    <sl-button class=" " size="small" caret disabled>
                                                        <span title="No Profiles for this user">View Profile</span>

                                                    </sl-button>
                                                </div>
                                            </td>


                                            <% } else { %>

                                                <td class="is-align-content-center ">
                                                    <div>
                                                        <sl-dropdown class="">
                                                            <sl-button class="" size="small" slot="trigger" caret>
                                                                View Profile

                                                            </sl-button>


                                                            <sl-menu class=" " id="" role="">

                                                                <% for( let pid=0; pid < users[ui].profiles.length;
                                                                    pid++ ) { %>
                                                                    <sl-menu-item>
                                                                        <a class="is-size-7 " hx-target="#right-side"
                                                                            hx-get="<%= `/api/v1/users/profile/${users[ui].profiles[pid].id}`%>"
                                                                            hx-push-url="true"
                                                                            href="<%= `/api/v1/users/profile/${users[ui].profiles[pid].id}`%>">
                                                                            <%= users[ui].profiles[pid].role %>
                                                                        </a>
                                                                    </sl-menu-item>
                                                                    <% } %>
                                                            </sl-menu>
                                                        </sl-dropdown>
                                                    </div>
                                                </td>
                                                <% } %>
                                    </tr>
                                    <% } %>
                            </table>
                            <div class="m-0 p-2" role="navigation" aria-label="pagination">
                                <sl-button-group class="level-center">
                                    <% for( let i=1; i <=total; i++ ) { %>
                                        <sl-button size="small" hx-get="/api/v1/users?page=<%= i%>" hx-target="body"
                                            hx-push-url="true" <% if (curPage==i) { %>
                                            variant="primary" class="my-0"
                                            <% } else { %>
                                                class="my-0"
                                                <% } %>
                                                    aria-label="Goto page <%= i%>">
                                                        <%= i%>
                                        </sl-button>
                                        <% } %>
                                            <sl-button size="small"
                                                hx-get="/api/v1/users?page=<%= curPage-1 < 1 ? 1 : curPage-1%>"
                                                hx-target="body" hx-push-url="true" class="my-0"
                                                title="This is the first page">Previous</sl-button>
                                            <sl-button size="small" hx-get="/api/v1/users?page=<%= curPage+1%>"
                                                hx-target="body" hx-push-url="true" class="my-0">Next
                                                page</sl-button>
                                </sl-button-group>

                            </div>
                        </div>

                    </div>


                </section>
        </div>
        <%- include('../layouts/footer.ejs'); %>
    </div>
</body>

</html>