<!-- <div id="right-side"> -->
<div class="grid is-col-min-14 is-gap-1">

    <div class="card cell" style="box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;" id="profile-group">
        <div class="card-content">

            <div class="media">
                <div class="media-left">
                    <figure class="container image is-128x128">
                        <% if(profile.profilePic) {%>
                            <img class="is-rounded" src="<%= `${profile.profilePic.url}` %>" alt="Profile Picture">
                            <%} else {%>
                                <sl-avatar label="User avatar"></sl-avatar>
                                <% } %>
                    </figure>
                </div>
                <div class="media-content">
                    <div class="is-size-5 is-align-content-center">
                        <%= profile.userName %>
                    </div>
                    <div class="is-flex is-gap-1">
                        <span class="is-size-7 is-align-content-center" id="user-email">
                            <%= profile.email %>
                        </span>
                        <sl-copy-button copy-label="Click to copy" success-label="Copied!"
                            error-label="Whoops, your browser doesn't support this!" from="user-email"></sl-copy-button>
                    </div>
                    <div class="subtitle is-7 is-italic">Role: <%= profile.role %>
                    </div>
                </div>
            </div>
            <div class="content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
                    iaculis mauris. <a>@bulmaio</a>.
                </p>
            </div>
            <div id="action-group">
                <% if(profile.id==user.profiles[0].id) {%>

                    <sl-icon-button name="pencil" label="Edit"></sl-icon-button>

                    <%}%>
            </div>
        </div>



    </div>


    <% if (profile.createdEvents.length !=0) { %>
        <div class="cell card " style="box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;" id="created-event-group">
            <div class="card-content">
                <div class="card-header">Created Events</div>
                <div class="media">
                    <table class="table is-narrow is-striped container">
                        <!-- <thead>
                        <tr>
                            <th></th>
                        </tr>
                    </thead> -->
                        <tbody>
                            <% for( let ei=0; ei < profile.createdEvents.length; ei ++ ) { %>
                                <tr>
                                    <td>
                                        <a hx-get="<%= `/api/v1/events/${profile.createdEvents[ei].id}?includeAdditional=true`  %>"
                                            hx-target="#right-side" hx-select="#right-side" hx-push-url="true"
                                            href="<%= `/api/v1/events/${profile.createdEvents[ei].id}`%>">
                                            <%= profile.createdEvents[ei].name %>
                                        </a>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <% } %>

            <% if (profile.participantEvents.length !=0) { %>
                <div class="cell card" style="box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;"
                    id="participant-event-group">
                    <div class="card-content">
                        <div class="card-header">Participated Events</div>

                        <div class="media">
                            <table class="table is-narrow is-striped container">
                                <!-- <thead>
                                <tr>
                                    <th></th>
                                </tr>
                            </thead> -->
                                <tbody>
                                    <% for( let epi=0; epi < profile.participantEvents.length; epi ++ ) { %>
                                        <tr>
                                            <td><a href="<%= `/api/v1/events/${profile.participantEvents[epi].id}`%>">
                                                    <%= profile.participantEvents[epi].name %>
                                                </a></td>
                                        </tr>
                                        <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <% } %>

                    <% if (profile.projectAssociations.length !=0) { %>
                        <div class="cell card is-col-span-2" style="box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;"
                            id="project-association-group">
                            <div class="card-content">
                                <div class="card-header">Associated Projects</div>

                                <div class="media">
                                    <table class="table is-narrow is-striped container">
                                        <thead>
                                            <tr>
                                                <th>Projects</th>
                                                <th>Role</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for( let pi=0; pi < profile.projectAssociations.length; pi ++ ) { %>
                                                <tr>
                                                    <td><a
                                                            href="<%= `/api/v1/projects/${profile.projectAssociations[pi].projectId}`%>">
                                                            <%= profile.projectAssociations[pi].project.name %>
                                                        </a></td>
                                                    <td>
                                                        <%= profile.projectAssociations[pi].userRole %>
                                                    </td>
                                                    <td>
                                                        <%= profile.projectAssociations[pi].status %>
                                                    </td>
                                                    <td>
                                                        <sl-icon-button name="gear" label="Action"></sl-icon-button>
                                                    </td>
                                                </tr>
                                                <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                        <% } %>

</div>
<script>
    document.addEventListener('sl-error', function (event) {
        console.log(event.detail);
    });
</script>